.root {
    -fx-background-image: url('images/img_fondo.png');
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* Esto hace que la imagen cubra todo el espacio */
}
.modo_claro {
    -fx-background-image: url('images/fondo2.png');
        -fx-background-position: center center;
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}
.label {
-fx-background-color: #ffff70;
-fx-padding: 10px;
-fx-background-radius: 10px;
-fx-border-color: #00ff00;
-fx-border-radius: 10px;
}

.button {
    -fx-background-color: #00ff00;
    -fx-text-fill: black;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.0, 0, 0);
}
.button:hover {
    -fx-background-color: #009900;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-border-color: #002200;
}

.vbox {
    -fx-background-color: #00ff00;
}

.btn_menu {
    -fx-height: 14px;
    -fx-font-size: 12px;
}